In [146]:
import pandas as pd
import requests 
import numpy as np
from bs4 import BeautifulSoup

In [147]:
header = { "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) Chrome/120.0.0.0 Safari/537.36"}
url = "https://www.ambitionbox.com/list-of-companies?page=1"
webPage = requests.get(url,headers=header).text

In [148]:
soup = BeautifulSoup(webPage,'html.parser')

In [ ]:
print(soup.prettify())

In [ ]:
for i in soup.find_all('h2'):
    print(i.text.strip())

In [159]:
companies = []
for i in range(1,501):
    url = "https://www.ambitionbox.com/list-of-companies?page={}".format(i)
    header = { "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) Chrome/120.0.0.0 Safari/537.36"}
    webPage = requests.get(url, headers=header).text

    soup = BeautifulSoup(webPage, 'html.parser')
    currPageCompany = soup.find_all('div',class_='companyCardWrapper')
    companies.extend(currPageCompany)
len(companies)

10000

In [ ]:
name = []
rating = []
profile = []
address = []
reviews = []
salaries = []
interviews = []
jobs = []
benefits = []
photos = []

for company in companies:
    try:
        name.append(company.find('h2').text.strip())
    except:
        name.append(np.nan)

    try:
        rating.append(float(company.find(class_='rating_star_container').text.strip()))
    except:
        rating.append(np.nan)

    add = ''
    try:
        add = company.find(class_ = 'companyCardWrapper__interLinking').text.strip().split('|')
    except:
        add = [np.nan,np.nan]

    add = [a.strip() for a in add]
    try:
        profile.append(add[0])
    except:
        profile.append(np.nan)

    try:
        address.append(add[1])
    except:
        address.append(np.nan)

    try:
        reviews.append(company.find_all(class_='companyCardWrapper__ActionWrapper')[0].find('span', class_='companyCardWrapper__ActionCount').text.strip())
    except:
        reviews.append(np.nan)

    try:
        salaries.append(company.find_all(class_='companyCardWrapper__ActionWrapper')[1].find('span', class_='companyCardWrapper__ActionCount').text.strip())
    except:
        salaries.append(np.nan)

    try:
        interviews.append(company.find_all(class_='companyCardWrapper__ActionWrapper')[2].find('span', class_='companyCardWrapper__ActionCount').text.strip())
    except:
        interviews.append(np.nan)

    try:
        jobs.append(company.find_all(class_='companyCardWrapper__ActionWrapper')[3].find('span', class_='companyCardWrapper__ActionCount').text.strip())
    except:
        jobs.append(np.nan)

    try:
        benefits.append(company.find_all(class_='companyCardWrapper__ActionWrapper')[4].find('span', class_='companyCardWrapper__ActionCount').text.strip())
    except:
        benefits.append(np.nan)

    try:
        photos.append(company.find_all(class_='companyCardWrapper__ActionWrapper')[5].find('span', class_='companyCardWrapper__ActionCount').text.strip())
    except:
        photos.append(np.nan)

In [191]:
data = {'Name' : name, 
      'Rating' : rating,
      'Profile' : profile,
      'Address' : address,
      'Reviews' : reviews,
      'Salary' : salaries,
      'Jobs' : jobs,
      'Benefits' : benefits,
      'Photos' : photos
      }
final = pd.DataFrame(data)
final

,Name,Rating,Profile,Address,Reviews,Salary,Jobs,Benefits,Photos
0,TCS,3.5,IT Services & Consulting,Bangalore / Bengaluru +419 other locations,1L,9.4L,812,10.6k,86
1,Accenture,3.7,IT Services & Consulting,Bangalore / Bengaluru +235 other locations,66.7k,6.3L,30.6k,6.7k,48
2,Wipro,3.7,IT Services & Consulting,Bangalore / Bengaluru +362 other locations,59.8k,4.6L,6.9k,4.6k,98
3,Cognizant,3.7,IT Services & Consulting,Hyderabad / Secunderabad +220 other locations,56.8k,5.8L,374,5.5k,82
4,Capgemini,3.7,IT Services & Consulting,Bangalore / Bengaluru +177 other locations,48.6k,4.6L,2k,3.6k,41
...,...,...,...,...,...,...,...,...,...
9995,Power2sme,4.1,Industrial Automation,Gurgaon / Gurugram +10 other locations,99,599,11,9,--
9996,Neural IT,2.8,Financial Services,Mumbai +2 other locations,99,500,23,5,--
9997,Sesa Care,4.5,Beauty & Personal Care,Mumbai +28 other locations,99,400,1,10,--
9998,Institute of Advance Network Technology,3.1,Education & Training,Pune +34 other locations,99,262,--,5,--
9999,Twilio,3.7,Software Product,Bangalore / Bengaluru +3 other locations,99,940,12,4,--

In [192]:
final.to_csv('companyData.csv',index=False)

In [193]:
final.to_excel('companyData.xlsx')

In [195]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      10000 non-null  object
 1   Rating    10000 non-null  float64
 2   Profile   10000 non-null  object
 3   Address   9424 non-null   object
 4   Reviews   10000 non-null  object
 5   Salary    10000 non-null  object
 6   Jobs      10000 non-null  object
 7   Benefits  10000 non-null  object
 8   Photos    10000 non-null  object
dtypes: float64(1), object(8)
memory usage: 703.3+ KB

In [199]:
final.describe()

             Rating
count  10000.000000
mean       3.751920
std        0.407513
min        1.000000
25%        3.500000
50%        3.800000
75%        4.000000
max        5.000000