In [2]:
import pandas as pd

print(pd.__version__)

2.3.1

In [3]:

#Series = 1D labeled array 
data = [151,102,103]
series = pd.Series(data)
print(series)
print()

data2 = [1.2]
series2 = pd.Series(data2)
print(series2)
print()

0    151
1    102
2    103
dtype: int64

0    1.2
dtype: float64

In [7]:
data = [151,102,103]
series_labeled = pd.Series(data, index=['room no','price', 'floor']) #length of index == length of data

print(series_labeled)

print(series_labeled.loc['price'])  #if not exists there will be an error

series_labeled.loc['price'] = 200
print(series_labeled.loc['price'])

print(series_labeled.iloc[1])        #access via index

room no    151
price      102
floor      103
dtype: int64
102
200
200

In [3]:
data = [51,102,201,55,36]
series = pd.Series(data, index=['a','b','c','d','e'])
print(series[series > 100])
print()

b    102
c    201
dtype: int64

In [4]:
# Data Frames = 2d tabular array (labeled column)

data = {"Pokemon" : ["Balbausaur","Squirtle","Venasuar","Charizard"],
        "Attack" : [20, 10, 30, 90],
        "Trainer": ["Ash", "Misty", "Rock", "Gary"]
        }

df = pd.DataFrame(data)
print(df)

      Pokemon  Attack Trainer
0  Balbausaur      20     Ash
1    Squirtle      10   Misty
2    Venasuar      30    Rock
3   Charizard      90    Gary

In [36]:
df["Win"] = pd.Series([1,2,3,5])
print(df)

      Pokemon  Attack Trainer  Win
0  Balbausaur      20     Ash    1
1    Squirtle      10   Misty    2
2    Venasuar      30    Rock    3
3   Charizard      90    Gary    5
0   Blastoise      77   Misty    1

In [37]:
df = pd.concat([df,  pd.DataFrame([{"Pokemon" : "Blastoise",\
                                    "Attack": 77,\
                                    "Trainer":"Misty",
                                    "Win" : 10}])])

print(df)

      Pokemon  Attack Trainer  Win
0  Balbausaur      20     Ash    1
1    Squirtle      10   Misty    2
2    Venasuar      30    Rock    3
3   Charizard      90    Gary    5
0   Blastoise      77   Misty    1
0   Blastoise      77   Misty   10