# Pokémon Dataset: Aggregate Functions in Pandas
This notebook demonstrates how to use Pandas aggregate functions (mean, sum, min, max, count) and `groupby` operations using the Pokémon dataset.

In [ ]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv("D:\\Code\\Python\\Class\\My Class\\DataSet\\Pokemon\\pokemonGen1.csv", index_col="Name")
df.head()

            No  Type1   Type2  Height  Weight  Legendary
Name
Bulbasaur    1  Grass  Poison     0.7     6.9          0
Ivysaur      2  Grass  Poison     1.0    13.0          0
Venusaur     3  Grass  Poison     2.0   100.0          0
Charmander   4   Fire     NaN     0.6     8.5          0
Charmeleon   5   Fire     NaN     1.1    19.0          0

In [14]:
print(df.loc['Bulbasaur'])

No                1
Type1         Grass
Type2        Poison
Height          0.7
Weight          6.9
Legendary         0
Name: Bulbasaur, dtype: object

## 0. Data Visualization

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150 entries, Bulbasaur to Mewtwo
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   No         150 non-null    int64
 1   Type1      150 non-null    object
 2   Type2      67 non-null     object
 3   Height     150 non-null    float64
 4   Weight     150 non-null    float64
 5   Legendary  150 non-null    int64
dtypes: float64(2), int64(2), object(2)
memory usage: 12.3+ KB

In [40]:
df.describe()

               No      Height      Weight   Legendary
count  150.000000  150.000000  150.000000  150.000000
mean    75.500000    1.200000   46.231333    0.026667
std     43.445368    0.963634   59.547388    0.161647
min      1.000000    0.200000    0.100000    0.000000
25%     38.250000    0.700000    9.925000    0.000000
50%     75.500000    1.000000   30.000000    0.000000
75%    112.750000    1.500000   56.375000    0.000000
max    150.000000    8.800000  460.000000    1.000000

## 1. Basic Aggregate Functions on Numeric Columns

In [41]:
# Mean of all numeric columns
print("Mean of numeric columns:\n", df.mean(numeric_only=True), "\n")

# Mean of one column
print("Mean Height:", df["Height"].mean(), "\n")

# Sum of numeric columns
print("Sum of numeric columns:\n", df.sum(numeric_only=True), "\n")

# Minimum of numeric columns
print("Minimum of numeric columns:\n", df.min(numeric_only=True), "\n")

# Maximum of numeric columns
print("Maximum of numeric columns:\n", df.max(numeric_only=True), "\n")

# Count of non-missing values per column
print("Count of non-NaN values:\n", df.count(), "\n")

Mean of numeric columns:
 No           75.500000
Height        1.200000
Weight       46.231333
Legendary     0.026667
dtype: float64

Mean Height: 1.2

Sum of numeric columns:
 No           11325.0
Height         180.0
Weight        6934.7
Legendary        4.0
dtype: float64

Minimum of numeric columns:
 No           1.0
Height       0.2
Weight       0.1
Legendary    0.0
dtype: float64

Maximum of numeric columns:
 No           150.0
Height         8.8
Weight       460.0
Legendary      1.0
dtype: float64

Count of non-NaN values:
 No           150
Type1        150
Type2         67
Height       150
Weight       150
Legendary    150
dtype: int64

## 2. Filtering Examples

In [42]:

legendary = df[df["Legendary"] == 1]
print(legendary,'\n')

print(legendary[ ['Type1', 'Type2'] ],'\n')

legendary_count = legendary[ ['Type1', 'Type2'] ].count()
print("Count of Legendary Pokémon by Type columns:\n", legendary_count, "\n")

           No     Type1   Type2  Height  Weight  Legendary
Name
Articuno  144       Ice  Flying     1.7    55.4          1
Zapdos    145  Electric  Flying     1.6    52.6          1
Moltres   146      Fire  Flying     2.0    60.0          1
Mewtwo    150   Psychic     NaN     2.0   122.0          1

             Type1   Type2
Name
Articuno       Ice  Flying
Zapdos    Electric  Flying
Moltres       Fire  Flying
Mewtwo     Psychic     NaN

Count of Legendary Pokémon by Type columns:
 Type1    4
Type2    3
dtype: int64

## 3. GroupBy Example

In [31]:
print('All type 1 - ')
print(df['Type1'].unique(),"\n")

# Group Pokémon by Type1
group = df.groupby("Type1")


# Mean Height per Type1
print("Mean Height per Type1:\n", group["Height"].mean(), "\n")

# Total Weight per Type1
print("Total Weight per Type1:\n", group["Weight"].sum(), "\n")

All type 1 -
['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon']

Mean Height per Type1:
 Type1
Bug         0.900000
Dragon      2.666667
Electric    0.855556
Fairy       0.950000
Fighting    1.185714
Fire        1.216667
Ghost       1.466667
Grass       1.083333
Ground      0.850000
Ice         1.550000
Normal      0.986364
Poison      1.221429
Psychic     1.371429
Rock        1.844444
Water       1.300000
Name: Height, dtype: float64

Total Weight per Type1:
 Type1
Bug          275.9
Dragon       229.8
Electric     286.1
Fairy         47.5
Fighting     380.0
Fire         576.3
Ghost         40.7
Grass        335.9
Ground       362.1
Ice           96.0
Normal      1101.9
Poison       382.4
Psychic      408.5
Rock         788.5
Water       1623.1
Name: Weight, dtype: float64

## 4. Using `.agg()` for Multiple Aggregations

In [35]:
# Multiple aggregation functions on numeric columns
agg_stats = df[['Height','Weight']].agg(['mean','min','max','sum'])
print("Aggregated stats:\n", agg_stats, "\n")


# GroupBy + agg
group_agg = df.groupby('Type1')[['Height','Weight']].agg(['mean','max','min'])
print("GroupBy + Multiple Aggregations:\n", group_agg)

Aggregated stats:
       Height       Weight
mean     1.2    46.231333
min      0.2     0.100000
max      8.8   460.000000
sum    180.0  6934.700000

GroupBy + Multiple Aggregations:
             Height               Weight
              mean  max  min       mean    max   min
Type1
Bug       0.900000  1.5  0.3  22.991667   56.0   2.9
Dragon    2.666667  4.0  1.8  76.600000  210.0   3.3
Electric  0.855556  1.6  0.3  31.788889   66.6   6.0
Fairy     0.950000  1.3  0.6  23.750000   40.0   7.5
Fighting  1.185714  1.6  0.5  54.285714  130.0  19.5
Fire      1.216667  2.0  0.6  48.025000  155.0   8.5
Ghost     1.466667  1.6  1.3  13.566667   40.5   0.1
Grass     1.083333  2.0  0.4  27.991667  120.0   2.5
Ground    0.850000  1.9  0.2  45.262500  120.0   0.8
Ice       1.550000  1.7  1.4  48.000000   55.4  40.6
Normal    0.986364  2.2  0.3  50.086364  460.0   1.8
Poison    1.221429  3.5  0.4  27.314286   65.0   1.0
Psychic   1.371429  2.0  0.9  58.357143  122.0  19.5
Rock      1.844444  8.8  0.4  87.611111  300.0   7.5
Water     1.300000  6.5  0.3  57.967857  235.0   4.0

## 5. Save Aggregated Results

In [ ]:
# Save GroupBy aggregation to CSV
group_agg.to_csv("D:\\Code\\Python\\Class\\My Class\\DataSet\\Pokemon\\pokemon_groupby_agg.csv")